body {
    padding-top: 56px;
    padding-bottom: 56px;
    color: #5a5a5a;
}

.board-inner {
    position: relative;
    height: 32rem;
    margin-bottom: 4rem;
    background: #000000;
}

.board-inner > img {
    display: block;
    height: 32rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 1440px) {
    .container{
        max-width: 1440px;
    }
}
